body{

    background: url(../imagenes/imagen1.avif);
    background-size: auto;
    background-attachment: fixed;


}

.letra1{


    color: white !important;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    


}

.barra{

    background-color: rgb(136, 247, 247) !important;
    color: black;
    font-family: Impact, 'Arial Narrow Bold', sans-serif !important;

}

